* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
}
body{
    line-height: 1.3;
}
/* HEADER */
header {
    width:100%;
    height:48px;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    background-color: #fff;
    top:0;
    z-index:100;
}
.navigation {
    max-width: 778px;
    height:100%;
    display: flex;
    justify-content: space-between;
    margin:auto;
}
.current{
    padding: 16px 12px 16px 25px;
    white-space: nowrap;
    position: relative;
}
.current,
.current:link,
.current:visited{
    text-decoration: none;
    color:  #000
}
.current-image{
    height:18px;
    position: absolute;
    left:5px;
}
.current:hover{
    background-color: rgb(197, 197, 197, 0.35);
}
.inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-item,
.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    color:  #000;
    padding: 16px 12px;
}
.nav-item:hover {
    background-color: rgb(197, 197, 197, 0.35);
}
/* MAIN */
main{
    position: relative;
    top: 48px;
}
#test{
    width:100%;
    background-color: rgb(43, 135, 209);
}
.container{
    max-width: 778px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding:20px;
    color:  #fff;
    font-weight: 400;
}
#test .container{
    animation: entry-effect 0.5s ease forwards;
}
.group-test{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-test h1{
    /* margin-top:50px; */
    font-size: 80px;
    font-weight: 400;
}
.group-test h2{
    font-size: 24px;
    font-weight: 200;
}
.group-test a{
    display: block;
    background-color: rgb(255, 228, 50);
    margin-top:40px;
    width: 150px;
    height: 47px;
    border-radius: 50px;
    line-height: 47px;
    font-weight: 600;
    text-align: center;
    color: #333;
    cursor: pointer;
}
.group-test a:hover{
    background-color: rgb(245, 218, 40);
}
@keyframes entry-effect{
    from{
        transform: translateY(20px);
         opacity:0
        }
    to{
        transform: translateY(0);
        opacity: 1
    }
}
.main-img{
    margin: 70px auto 40px auto;
    height: 100px;
    animation: blink 3s ease infinite;
}
@keyframes blink{
    0%{opacity: 0.2;}
    50%{opacity: 0.9;}
    100%{opacity: 0.2;}
}

/* CARD LIST */
#cards .container{
    padding: 25px;
}
#cards {
    width:100%;
}

.card-list{
    max-width: 778px;
    display: flex;
    margin:5px;
    justify-content: center;
}
.card-list a{
    text-decoration: none;
}
.card{
    width:258px;
    height: 248px;
    /* background-color: greenyellow; */
    border-radius: 5px 5px 0 0;
    border-top: 6px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 3px 0px;
    outline-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin:5px;
}
.card:hover{
    box-shadow:rgba(0, 0, 0, 0.15) 4px 4px 4px 4px;
}
.card-img {
    width: 70px;
    height: 70px;
    margin-top:20px;
    border-radius: 10px;
    padding:5px;
    border: 3px solid;
}
.yellow{
    border-color:rgb(254, 189, 27); 
}
.green{
    border-color:rgb(81, 184, 72);
}

.card h3{
    margin-top: 15px;
    font-weight: 700;
    font-size: 21px;
}
.card h4{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* footer */
#footer .container{

    height:150px;
    align-items: flex-end;
    margin-top:40px;
}
.copy{
    text-decoration: none;
    font-size: 12px;
    font-weight: 100;
    color: #222121
}
