* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
}
body{
    line-height: 1.3;
}
/* HEADER */
header {
    width:100%;
    height:48px;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    background-color: #fff;
    top:0;
    z-index:100;
}
.navigation {
    max-width: 778px;
    height:100%;
    display: flex;
    justify-content: space-between;
    margin:auto;
}
.current{
    padding: 16px 12px 16px 25px;
    white-space: nowrap;
    position: relative;
}
.current,
.current:link,
.current:visited{
    text-decoration: none;
    color:  #000
}
.current-image{
    height:18px;
    position: absolute;
    left:5px;
}
.current:hover{
    background-color: rgb(197, 197, 197, 0.35);
}
.inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-item,
.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    color:  #000;
    padding: 16px 12px;
}
.nav-item:hover {
    background-color: rgb(197, 197, 197, 0.35);
}



/* MAIN */
main{
    position: relative;
    top: 48px;
}
#test{
    width:100%;
    background-color: rgb(43, 135, 209);
    cursor: pointer;
}
.container{
    max-width: 778px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    color:  #fff;
    font-weight: 400;
}
#test .container{
    animation: entry-effect 0.5s linear forwards;
}
.group-test{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-test h1{
    /* margin-top:50px; */
    font-size: 80px;
    font-weight: 400;
}
.group-test h2{
    font-size: 21px;
    font-weight: 200;
    text-align: center;
    opacity:1; 
}

@keyframes entry-effect{
    from{
        transform: translateY(20px);
        opacity:0;
        }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.main-img{
    margin: 70px auto 40px auto;
    height: 100px;
}

.button {
    position: relative;
    top: 30px;
    padding:13px 32px;
    border-radius: 40px;
    box-shadow: none;
    background-color: rgb(255, 228, 50);
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.button:hover{
    background-color: rgb(245, 218, 40);
}


#remember {
    /* change to flex to display */
    display:none;
    justify-content: center;

}
#remember .number-to-remember{
    font-size:76px;
}

#answer {
    /* change to flex to display */
    justify-content: center;
    display:none;
}
.group-test h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 2px;
}
.group-test h4{
    font-size: 18px;
    font-weight: 400;
    color: hsla(0,0%,100%,.6)
}

.input {
    width:720px;
    height: 78px;
    background-color: rgba(0,0,100,.2);
    border-radius: 40px;
    border: none;
    color: white;
    text-align: center;
    margin-top:30px;
}