* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
}
body{
    line-height: 1.3;
}
/* HEADER */
header {
    width:100%;
    height:48px;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    background-color: #fff;
    top:0;
    z-index:100;
}
.navigation {
    max-width: 778px;
    height:100%;
    display: flex;
    justify-content: space-between;
    margin:auto;
}
.current{
    padding: 16px 12px 16px 25px;
    white-space: nowrap;
    position: relative;
}
.current,
.current:link,
.current:visited{
    text-decoration: none;
    color:  #000
}
.current-image{
    height:18px;
    position: absolute;
    left:5px;
}
.current:hover{
    background-color: rgb(197, 197, 197, 0.35);
}
.inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-item,
.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    color:  #000;
    padding: 16px 12px;
}
.nav-item:hover {
    background-color: rgb(197, 197, 197, 0.35);
}



/* MAIN */
main{
    position: relative;
    top: 48px;
}
#test{
    width:100%;
    background-color: rgb(43, 135, 209);
    cursor: pointer;
}
.container{
    max-width: 778px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding:20px;
    color:  #fff;
    font-weight: 400;
}
#test .container{
    animation: entry-effect 0.5s linear forwards;
}
.group-test{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-test h1{
    /* margin-top:50px; */
    font-size: 80px;
    font-weight: 400;
}
.group-test h2{
    font-size: 21px;
    font-weight: 200;
    text-align: center;
    opacity:1; 
}

@keyframes entry-effect{
    from{
        transform: translateY(20px);
        opacity:0;
        }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.main-img{
    margin: 70px auto 40px auto;
    height: 100px;
}

.progress {
    display: flex;
    margin-top:30px;
}
.dots {
    display:none;
    margin-top:100px;
    font-size: 120px;
}

.score .txt{
    padding-right:6px;
    border-right: 1px solid hsla(0,0%,100%,.6);
    color: hsla(0,0%,100%,.6);
}
.score:nth-of-type(1){
    margin-right: 30px;
}
